<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>3bit Store</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>
<a style="float:right" href="/cart">
    <svg width="100" height="100" viewBox="0 0 600 600">
        <g>
            <path style="fill:black;" d="M548.873,164.412c4.896,6.12,6.73,13.464,5.508,22.032l-23.256,133.417
			c-0.816,6.938-3.979,12.648-9.486,17.136c-5.508,4.488-11.729,6.732-18.666,6.732H163.925l-6.732,37.944H480.33
			c7.752,0,14.48,2.754,20.195,8.262c5.713,5.508,8.566,12.342,8.566,20.502s-2.854,14.994-8.566,20.502
			c-5.715,5.508-12.443,8.262-20.195,8.262H122.921c-8.568,0-15.912-3.468-22.032-10.401c-5.712-6.938-7.956-14.895-6.732-23.868
			l15.3-83.232L86.201,87.914L20.105,67.106c-7.752-2.448-13.362-7.141-16.83-14.076c-3.468-6.937-4.182-14.28-2.142-22.032
			c2.448-7.752,7.242-13.362,14.382-16.83s14.382-4.182,21.726-2.142l84.456,26.928c5.304,1.632,9.69,4.692,13.158,9.18
			c3.468,4.488,5.61,9.589,6.426,15.301l4.896,46.512l383.112,42.84C537.857,154.008,544.385,157.884,548.873,164.412z
			 M166.374,455.113c12.24,0,22.644,4.284,31.212,12.854c8.568,8.565,12.852,18.972,12.852,31.212
			c0,12.237-4.284,22.746-12.852,31.518c-8.568,8.772-18.972,13.158-31.212,13.158s-22.644-4.386-31.212-13.158
			c-8.568-8.771-12.852-19.278-12.852-31.518s4.284-22.646,12.852-31.212C143.729,459.397,154.133,455.113,166.374,455.113z
			 M427.697,455.113c12.238,0,22.645,4.284,31.213,12.854c8.564,8.565,12.852,18.972,12.852,31.212
			c0,12.237-4.285,22.746-12.852,31.518c-8.568,8.772-18.975,13.158-31.213,13.158c-12.24,0-22.646-4.386-31.211-13.158
			c-8.568-8.771-12.855-19.278-12.855-31.518s4.285-22.646,12.855-31.212C405.053,459.397,415.457,455.113,427.697,455.113z"></path>
            <text id="cart" x="50%" y="50%" fill="white" style="font-size:190;text-anchor:middle" th:text="${cart.getCartSize()}"></text>
        </g>
    </svg>
</a>
<div class="jumbotron text-center">
    <h1>3bit Store</h1>
    <form action="/" method="get" style="float:right">
        <select name="category" class="well well-sm" onchange="this.form.submit()">
            <option selected="true" style="display:none">Category</option>
            <option th:each="category,iterStat:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
    </form>
    <form action="/" method="get" style="float:right">
        <select name="supplier" class="well well-sm" onchange="this.form.submit()">
            <option selected="true" style="display:none">Supplier</option>
            <option th:each="supplier,iterStat:${suppliers}" th:value="${supplier.id}" th:text="${supplier.name}"></option>
        </select>
    </form>
</div>

<div class="container">
    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <img class="group list-group-image" style="max-height:250px" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="btn btn-success" th:attr="onclick='xmlhttprequest(\'/cart/add/'+${prod.id}+'\')'">Add to cart</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer :: copy"></div>

</body>
</html>