<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/css/manuTable.css"/>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="well well-sm">
            <strong>Confirmation</strong>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="alert alert-success"><strong>Successful order!</strong></div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div>
            <div class="td-5 title c">Name</div>
            <div class="td-5 title c">Quantity</div>
            <div class="td-5 title c">Unit price</div>
            <div class="td-5 title c">Net total</div>
            <div class="td-5 title c">Total (with VAT)</div>
        </div>

        <div th:each="product,iterStat : ${cart.getProducts()}">
            <div class="td-5 c newline" th:text="${product.product.name}"></div>
            <div class="td-5 c" th:text="${product.quantity}"></div>
            <div class="td-5 c" th:text="${product.price}"></div>
            <div class="td-5 c" th:text="${product.getYield()}"></div>
            <div class="td-5 c" th:text="${product.getVatPrice()}"></div>
        </div>

        <div>
            <div class="td-5 newline"></div>
            <div class="td-5"></div>
            <div class="td-5"></div>
            <div class="td-5 c title">All:</div>
            <div class="td-5 c title" th:text="${cart.countTotal()}"></div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 c b">Name</div>
    <div class="col-md-5 c" th:text="${cart.order.getName()}"></div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 c b">Email</div>
    <div class="col-md-5 c" th:text="${cart.order.getEmail()}"></div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 c b">Phone number</div>
    <div class="col-md-5 c" th:text="${cart.order.getPhoneNumber()}"></div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 c b">Billing address</div>
    <div class="col-md-5 c" th:text="${cart.order.getBillingAddress()}"></div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 c b">Shipping address</div>
    <div class="col-md-5 c" th:text="${cart.order.getShippingAddress()}"></div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 c b">Additional info</div>
    <div class="col-md-5 c" th:text="${cart.order.getDescription()}"></div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 c b">Payment</div>
    <div class="col-md-5 c" th:text="${cart.order.getPaymentMethod().getName()}"></div>
    <div class="col-md-1"></div>
</div>

<br /><br />


<div class="c" th:replace="footer :: copy"></div>

</body>
</html>