.td-1 {
    float: left;
    width:100%;
    margin-top:10px;
}

.td-2 {
    float: left;
    width:50%;
    margin-top:10px;
}

.td-4 {
    float: left;
    width:25%;
    margin-top:10px;
}

.td-5 {
    float: left;
    width:20%;
    margin-top:10px;
}

.td-20 {
    float: left;
    width:20%;
    margin-top:10px;
}

.td-80 {
    float: left;
    width:80%;
    margin-top:10px;
}

.newline {
    clear:both;
}

.title {
    font-weight:bold;
    font-size:20px;
}

.c {
    text-align: center;
}

.block-c {
    margin: 0 auto !important;
}

.r {
    text-align: right;
}

.b {
    font-weight:bold;
}

.small {
    width:50px !important;
}

.inline {
    display:inline !important;
}

.nomargin {
    margin:0px !important;
}

.jumbotron {
    float: left;
    width:100%;
}

.half {
    width:50% !important;
}

.clickable {
    cursor: pointer;
}

.small-top-margin {
    margin-top:10px;
}